*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: hsl(212, 21%, 14%);
}

a {
    text-decoration: none;
}


body {
    font-size: 14px;
    font-family: "Fraunces", serif;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

/* text style */

.Perfume {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.title {
    line-height: 1;
    font-size: 32px;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    margin-bottom: 1.5rem;
}

.description {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.prince {
    font-weight: 700;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
}

.prince-2 {
    text-decoration: line-through;
}

.pay a:hover {
    background: hsl(158, 42%, 18%);
}

.perfume-img {
    width: 300px;
}

.cart-icon {
    margin-right: .75rem;
}

/* layout styles */

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.wrapper-container {
    display: flex;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.product-card {
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
}

.prince-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.pay a {
    display: flex;
    padding: 15px;
    font-weight: 700;
    border-radius: 8px;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    transition: background .3s ease;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(158, 36%, 37%);
}

@media (max-width: 600px) {
    .wrapper-container {
        width: 375px;
        flex-direction: column;
    }

    .product-card {
        padding: 1.5rem;
    }

    .perfume-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .Perfume {
        font-size: 13px;
        margin-bottom: .5rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .description {
        font-size: 16px;
    }

    .prince-container {
        margin-bottom: 1rem;
    }
}